html {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f4eb;
    width: 100%;
    margin: 0;
}

.inputOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row, .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conversionBtn {
    width: 130px;
    height: 40px;
} 

.convertBtn {
    width: 146px;
    height: 44px;
}

button p{
    margin: 2px;
}

p {
    text-align: center;
    font-family: 'Cutive', serif;
}

textarea {
    resize: none;
    outline: none;
    width: 540px;
    font-family: 'Cutive', serif;
}

h1 {
    text-align: center;
    font-family: 'Cutive', serif;
}

h2,h3,h4,h5 {
    font-family: 'Cutive', serif;
}

.instructions {
    width: 480px;
}

@media screen and (max-width: 600px){
    .inputOutput {
        width: auto;
        padding-left: 26px;
        padding-right: 26px;
    }
    textarea {
        width: 100%;
    }
    .instructions {
        padding-left: 20px;
        padding-right: 20px;
    }
    .title {
        padding-left: 20px;
        padding-right: 20px;
    }
}
